# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\0.MyProgrammingProjects\3.NodeProjects\productios\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
